<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./css/last.css">
</head>
<body>
    <h1 class ="heading">Health Risk Result </h1>   
    <div class="box">
        <div class="dis">
            <h3><%=name %>,You may have this disease named :</h3>
            <p><%=disease %></p>
            </div>

    </div>
    <div class="box">
        <div class="dis">
            <h3>Based on your inputs, Follow the following advices:</h3>
            <ul>
                <%  var i=0 %>
                <% for ( i=0;i < treatment.length ; i++){ %>
                    <li><%=treatment[i].Treatment%> </li>
                   <%} %>
            </ul>
        </div>            
    </div>
    <div class="box">
        <div class="dis">
            <h3>Your health matters to us.</h3>
            <ul>
            <li> <a href="tel:905798179">Dr.Amish Vora</a> | Noida | 905798179 | amish@apollo.com | Male |</li>
            <li> <a href="tel:98746520123">Dr.Kavita Kaur</a> | Uttar Pradesh | 98746520123 | kavita@sms.com | Female |</li>
            <li> <a href="tel:94142778965">Dr.Amit Khandelwal</a> | Jaipur | 94142778965 | amit@aims.com | Male |</li>
            <p>If you have more questions, call our Emergency Doctor's Helpline number here.<img src="./img/phone.svg" alt="call" height="20px" class="call"><a href="tel:905798178">Dr.Nitin Kumar</a></p>
            </ul>
        </div>

    </div>
</body>
</html>