<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./css/last.css">
</head>
<body>
    <h1 class ="heading">Health Risk Result Welcome, <%=name %></h1>   
    <div class="box">
        <div class="dis">
            <h3>Disease</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a rhoncus nisi, in sollicitudin magna. Praesent eget enim rutrum, consequat metus ut, vulputate libero.</p>
            </div>

    </div>
    <div class="box">
        <div class="dis">
            <h3>Based on your inputs, ACM advises the following:</h3>
            <ul>
                <li>
                    Souvlaki ignitus carborundum e pluribus unum. </li>
                    <li>Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. </li>
                    <li>Quote meon an estimate et non interruptus stadium. </li>
                    <li>Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. </li>
                    <li>Epsum factorial non deposit quid pro quo hic escorol. </li>
                
            </ul>
        </div>            
    </div>
    <div class="box">
        <div class="dis">
            <h3>Your health matters to us.</h3>
            <p>If you have more questions, call the Doctor's Helpline number here.<img src="./img/phone.svg" alt="call" height="20px" class="call"><a href="tel:555-555-5555">555-555-5555</a></p>
            
            </div>

    </div>
</body>
</html>