@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0px;
    padding: 0px;
    background-color: #BE6AD4;    
}
body{
    font-family: "Poppins", sans-serif;
}
.heading{
    display:block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.ex1{
    display: none;
}
form{
    margin:0px auto;
    width:60%;
    background: white;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}
.form-group{
    display: none;
    margin:0px auto;
    /* width:10%; */
    background: white;   
    
}
.form-group h3
{
    
    background: white;
    padding: 20px 20px;
}
.content{
    display: flex;
    justify-content: space-between;
    background: white;
}
.content label{
    background: white;
    padding: 10px 20px;
}
@media screen and (max-width: 1051px){
    form{
        display: block;
        margin-left:10%;
        width:80%;
    }

}
    @media screen and (max-width: 700px){
        .content{
            display: flex;
            flex-direction: column;
        }
    }
    .module-wrapper {
        display: none;
        position: relative;
        background: white;
      }
      .module {
        width: 150px;
        margin: 20px auto;
        background: white;
      }
      .module-button {
        background: white;
        color: black;
        
        width: 100%;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 1.2em;
        
      }
      .module-button:hover {
        background: #BE6AD4;
        border:0px 
      }
      .content1{
        width: 50%;
        display: flex;
        justify-content: space-between;
        background: white;
    }
    .content1 label{
        background: white;
        padding: 10px 20px;
    }

